#autosave_notify {
    opacity: 0;
    position: fixed;
    z-index: 101;
    top: -40px;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#autosave_scratches {
    background: #004c82;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 70px;
    overflow-y: hidden;
    display: none;
}

#autosave_scratches ul {
    margin: 0px;
    padding: 5px 0px;
    overflow: auto;
    list-style: none;
    border-top: 1px solid white;
    display: none;
}

#autosave_scratches ul > li {
    font-size: 12px;
}

#autosave_scratches ul > li > a {
    color: #f8c288;
}

#autosave_scratches ul > li > a:hover {
    color: #F89406;
}